.button {
  margin-top: 12px;
  min-width: 25%;
  line-height: 40px;
  padding: 5px;

  background: var(--level-3);
  color: var(--level-1);

  border: 1px solid var(--level-1);
  border-radius: 10px;
  
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.button:hover {
  background: var(--level-1);
  color: white;
  border: 2px solid var(--level-3);
}
.button:active {
  border: 4px solid var(--level-1);
}